@model AutoCare.Models.ViewModel.CarAndServicesViewModel
<h4>Car record for Customer @Model.CarObj.ApplicationUser.FirstName</h4>

<div class="row form-border">

    <div class="col-sm-5">
        <div class="row">
            <div class="col-sm-3">
                <label asp-for="CarObj.Make" class="control-label"></label>
            </div>
            <div class="col-sm-9" style="padding-bottom:5px;">
                <input asp-for="CarObj.Make" disabled class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label asp-for="CarObj.Model" class="control-label"></label>
            </div>
            <div class="col-sm-9" style="padding-bottom:5px;">
                <input asp-for="CarObj.Model" disabled class="form-control" />
            </div>
        </div>
    </div>

    <div class="col-sm-5 col-sm-offset-2">
        <div class="row">
            <div class="col-sm-3">
                <label asp-for="CarObj.Style" class="control-label"></label>
            </div>
            <div class="col-sm-9" style="padding-bottom:5px;">
                <input asp-for="CarObj.Style" disabled class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label asp-for="CarObj.Year" class="control-label"></label>
            </div>
            <div class="col-sm-9" style="padding-bottom:5px;">
                <input asp-for="CarObj.Year" disabled class="form-control" />
            </div>
        </div>
    </div>
</div>